<html>
  <head></head>
  <body>
    <h1>My contacts</h1>
    <div class="contact-container">
      <ul>
        <% for(let i of contact_list) {%>

        <li>
          <p><%= i.name%></p>
          <p><%= i.phone%></p>
        </li>
        <%} %>
      </ul>
    </div>
    <form action="./create-contact" method="post">
      <input
        type="text"
        name="name"
        required
        placeholder="enter your name"
        autocomplete="none"
      />
      <input
        type="number"
        name="phone"
        required
        autocomplete="none"
        placeholder="enter your phone number"
      />
      <button>submit</button>
    </form>
  </body>
</html>
